<div class="ContainerAbout">
  <h2 class="ContainerAbout__title">
    Bienvenidos a nuestro particular Netflix
  </h2>
  <p class="ContainerAbout__description">
    Un proyecto con Angular, trabajando componentes, rutas,lazy-loading,
    servicios y observables. El css se ha trabajado en Bem y Scss. Todo el
    proyecto se ha desarrollado en pair programing por:
  </p>
  <ul class="ContainerAbout__ul">
    <li class="ContainerAbout__ul--li">
      <h3>Elena Rábano</h3>
      <img
        class="ContainerAbout__ul--li--photo"
        src="/assets/imgElenaLink.jpeg"
        alt="Elena"
      />
      <div>
        <a href="https://www.linkedin.com/in/elenar%C3%A1banoneila/">
          <img
            class="ContainerAbout__ul--li--icon"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Linkedin_icon.svg/600px-Linkedin_icon.svg.png"
            alt="Linkedin"
          />
        </a>
        <a href="https://gitlab.com/ElenaRN">
          <img
            class="ContainerAbout__ul--li--icon"
            src="https://jmartinezxp.gitlab.io/img/avatar-icon.png"
            alt="gitlab"
          />
        </a>
      </div>
    </li>

    <li class="ContainerAbout__ul--li">
      <h3>Carmen Romero</h3>
      <img
        class="ContainerAbout__ul--li--photo"
        src="/assets/imgMenchuLink.jpeg"
        alt="Carmen"
      />
      <div>
        <a
          href="https://www.linkedin.com/in/carmen-romero-l%C3%B3pez-32359951/"
        >
          <img
            class="ContainerAbout__ul--li--icon"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Linkedin_icon.svg/600px-Linkedin_icon.svg.png"
            alt="Linkedin"
          />
        </a>
        <a href="https://gitlab.com/Menchu">
          <img
            class="ContainerAbout__ul--li--icon"
            src="https://jmartinezxp.gitlab.io/img/avatar-icon.png"
            alt="gitlab"
          />
        </a>
      </div>
    </li>
  </ul>
</div>
<!-- <iframe width="1200" height="315" src="https://www.youtube-nocookie.com/embed/UqGZreSFd4g" frameborder="0" allow="accelerometer; autoplay; c<lipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
