<div class="Trailer" *ngFor="let video of moviesVideos">
  <p class="Trailer__title">{{ video.name }}</p>
  <p class="Trailer__video">
    <iframe
      width="860"
      height="515"
      [src]="getVideoIframe(video.key)"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </p>
</div>
