<section class="movieList">
  <div class="movieList__container">
    <div class="movieList__container--title">
      <h3>Películas</h3>
    </div>
    <div class="movieList__container--search">
      <fa-icon class="icon" [icon]="faSearch"></fa-icon>
      <input
        class="search__input"
        type="text"
        [(ngModel)]="filter"
        name="search"
        placeholder="Título"
      />
    </div>
    <div class="movieList__container--list">
      <app-movie-list-item
        *ngFor="let poster of postersMoviesList | search: filter; index as i"
        [index]="i"
        [posterMovie]="poster"
        (navigate)="navigateTo($event)"
      ></app-movie-list-item>
      <!-- <a [routerLink]="[i]">
                    <article class="container__list__items">
                        <img class="container__list__items__item1" src="{{ poster.poster_path }}"
                            alt="{{ poster.title }}">

                    </article>
                </a> -->
    </div>
  </div>

  <!-- <div>
        <a class="anchor-back" [routerLink]="['']">Back</a>
    </div> -->
</section>
