@import "src/styles.scss";

.movieList {
  &__container {
    display: flex;
    flex-direction: column;

    &--title {
      text-align: center;
    }
    &--search {
      position: relative;
      display: flex;
      flex-direction: row;
      text-align: center;
      margin: 0 auto;
      display: block;

      @include desktop {
        position: relative;
        display: flex;
        flex-direction: row;
        text-align: end;
        margin: 0 auto;
        display: block;
      }

      > input {
        margin-bottom: 14px;
        background-color: #221f20;
        width: 50%;
        margin-left: 10px;
        padding: 5px 27px;
        border-radius: 6px;
        border: 1px solid white;
        color: white;

        @include tablet {
          margin-bottom: 14px;
          width: 92%;
        }

        @include desktop {
          margin-bottom: 14px;
          width: 92%;
        }
      }

      > fa-icon {
        position: absolute;
        z-index: 10;
        opacity: 0.2;
        left: 67px;
        bottom: 17px;
        color: white;
        cursor: pointer;

        @include tablet {
          bottom: 19px;
          left: 29px;
        }
        @include desktop {
          bottom: 19px;
          left: 29px;
        }
      }
    }

    &--list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include desktop {
        margin-left: 57px;
        margin-right: 57px;
      }
    }
  }
}
