<div class="containerDetails">
  <ul *ngIf="moviesDetails" class="containerDetails__ul">
    <div class="containerDetails__ul--container">
      <img
        class="containerDetails__ul--container--img"
        src="{{
          'https://image.tmdb.org/t/p/w342/' + moviesDetails.poster_path
        }}"
        alt="Poster Movie"
      />
    
      <span class="material-icons" [routerLink]="['videos']">
        play_circle_filled
      </span>
    </div>
    <div class="containerDetails__ul--description">
      <li class="containerDetails__ul--description--title">
        <h3>{{ moviesDetails.title }}</h3>
      </li>
      <li>
        {{ moviesDetails.overview }}
      </li>
    </div>
  </ul>
</div>
