<header class="header">
  <div class="header__logo">
    <a [routerLink]="['/home']">
      <img
        src="https://www.islabit.com/wp-content/uploads/2018/11/Netflix.png"
        alt="logo de netflix"
      />
    </a>
  </div>
  <div class="header__containerRight">
    <nav>
      <div class="dropdown">
        <span>Menu</span>

        <div class="dropdown-content">
          <a class="header__nav__container__anchor" [routerLink]="['']">
            Home
          </a>
          <a class="header__nav__container__anchor" [routerLink]="['/movies']">
            Películas</a
          >
          <a class="header__nav__container__anchor" [routerLink]="['/about']">
            About</a
          >
        </div>
      </div>
    </nav>
  </div>
</header>
