@import "src/styles.scss";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #221f20;
  color: white;
  margin: 0;
  justify-content: space-between;
  min-width: 375px;

  @include tablet {
    justify-content: flex-start;
  }
  @include desktop {
    justify-content: flex-start;
  }
  &__logo {
    margin-left: 20px;
    > a {
      > img {
        width: 9rem;
      }
    }
  }

  &__containerRight {
    @extend %column;
    margin-right: 26px;
    align-items: flex-end;
    box-shadow: none;

    @include tablet {
      display: flex;
      flex-direction: row;
    }
    @include desktop {
      display: flex;
      flex-direction: row;
    }
  }
}
.dropdown {
  position: relative;
  display: inline-block;
  color: white;
  margin: 7px;
  @include tablet {
    > span {
      display: none;
    }
  }
  @include desktop {
    > span {
      display: none;
    }
  }
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  margin-right: 10px;
  z-index: 1;
  display: none;
  position: absolute;
  background-color: #221f20;
  min-width: 50px;
  margin-top: 12px;
  padding: 15px 16px;
  text-align: initial;
  > a {
    color: rgba(255, 255, 255, 0.829);
    text-decoration: none;
    cursor: pointer;
  }
  @include tablet {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    position: relative;
    background-color: #221f20;
    > a {
      color: white;
      margin-right: 15px;
    }
    > a:hover {
      color: gray;
      text-decoration: none;
      cursor: pointer;
    }
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    position: relative;
    background-color: #221f20;
    > a {
      color: white;
      margin-right: 15px;
      
    }
    > a:hover {
      color: gray;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
