@import "src/styles.scss";
.Home {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;

  &__header {
    position: relative;

    > img {
      max-width: 100%;
      @include desktop {
        min-width: 1300px;
      }
    }
  }
  &__icons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: absolute;
    margin-top: 101px;
    margin-left: 16px;

    @include tablet {
      margin-top: 173px;
      margin-left: 30px;
      display: block;
    }
    @include desktop {
      margin-top: 398px;
      margin-left: 47px;
      display: block;
    }

    > fa-icon {
      font-size: x-small;
      border: 1px solid white;
      color: rgba(255, 255, 255, 0.897);
      border-radius: 57px;
      padding: 7px;
      margin: 3px;

      @include tablet {
        font-size: small;
      }
      @include desktop {
        font-size: medium;

        border-radius: 57px;
        padding: 11px;
        margin: 5px;
      }
    }
  }
}
