<section class="Home">
 
<div class="Home__header">
  <img src='/assets/header.jpeg' alt="poster artemis fowl"/>
</div>
  <div class=Home__icons>
  <fa-icon class="icon"[routerLink]="['/movies']" [icon]="faPlayCircle"></fa-icon>
  <fa-icon class="icon" [icon]="faThumbsUp"></fa-icon>
  <fa-icon class="icon" [icon]="faThumbsDown"></fa-icon>

</div>

</section>